*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

h1 {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
    z-index: 10;
}
